.icon-pr.opened {
  background-image: url(../images/pr-opened.svg);
}

.icon-pr.merged {
  background-image: url(../images/pr-merged.svg);
}

.icon-pr.mergeable {
  background-image: url(../images/pr-mergeable.svg);
}

a.icon-pr {
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding-left: 50px;
}

a.icon-pr:hover {
  text-decoration: none;
}
